<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoneOnceRead - Share Sensitive Information</title>
    <link rel="stylesheet" href="/static/css/styles.css"> 
</head>
<body>
    <h1>Enter Sensitive Information</h1>
    <form id="secret-form">
        <textarea id="secret" rows="5" cols="40" placeholder="Enter your secret"></textarea><br>

        <label for="expiration">Expiration Time: </label>
        <input type="number" id="expiration-time" min="1" value="5"><br>

        <label for="time-unit">Time Unit:</label>
        <select id="time-unit">
            <option value="minutes">Minutes</option>
            <option value="hours">Hours</option>
            <option value="days">Days</option>
        </select><br>

        <button type="submit">Generate Link</button>
    </form>

    <div id="result"></div>

    <script>
        document.getElementById('secret-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            let secret = document.getElementById('secret').value;
            let expirationTime = document.getElementById('expiration-time').value;
            let timeUnit = document.getElementById('time-unit').value;

            // Convert expiration time to seconds based on the selected time unit
            let expirationInSeconds;
            if (timeUnit === 'minutes') {
                expirationInSeconds = expirationTime * 60;
            } else if (timeUnit === 'hours') {
                expirationInSeconds = expirationTime * 60 * 60;
            } else if (timeUnit === 'days') {
                expirationInSeconds = expirationTime * 60 * 60 * 24;
            }

            try {
                const response = await fetch('/store', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ secret: secret, expiration: expirationInSeconds })
                });

                if (!response.ok) {
                    throw new Error(`Error: ${response.statusText}`);
                }

                const data = await response.json();
                if (data.share_link) {
                    document.getElementById('result').innerHTML = `<p>Share this link: <a href="${data.share_link}">${data.share_link}</a></p>`;
                } else {
                    document.getElementById('result').textContent = data.error;
                }
            } catch (error) {
                if (error.message){
                    document.getElementById('result').innerHTML = `<p style="color:red;">A server error occurred: ${error.message}</p>`;
                }
                else {
                    document.getElementById('result').innerHTML = `<p style="color:red;">A server error occurred.</p>`;
                }
                
            }
        });
    </script>
</body>
</html>
