<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoneOnceRead - View Secret</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <main>
        <h1>View Secret</h1>

        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}

        {% if show_password %}
            <form method="POST">
                <label for="password">Enter Password to View the Secret: </label>
                <input type="password" name="password" placeholder="Password" required><br>
                <button type="submit">Submit</button>
            </form>
        {% elif secret %}
            <div class="secret-display">
                {% if formatted %}
                    <pre id="secret-text">{{ secret }}</pre>  <!-- Preformatted for large data like JSON -->
                {% else %}
                    <p id="secret-text"><strong>Your Secret:</strong> {{ secret }}</p>
                {% endif %}
            </div>
            <p class="secret-expired"><em>This link has now expired and cannot be used again.</em></p>

            <button id="copy-secret-button">Copy Secret</button> <!-- Copy secret button -->
        {% endif %}

        <!-- Add a link to go back to the secret creation page -->
        <p><a href="/" style="text-decoration: none; color: blue;"><strong>Create Another Secret</strong></a></p>
    </main>

    <script>
        document.getElementById('copy-secret-button')?.addEventListener('click', function() {
            let secret = document.getElementById('secret-text').textContent;
            navigator.clipboard.writeText(secret);
        });
    </script>
</body>
</html>
